aiofiles==23.2.1
aiogram==3.2.0
aiohttp==3.9.1
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
Babel==2.9.1
billiard==4.2.0
celery==5.3.6
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==41.0.7
dataclasses==0.6
fastapi==0.105.0
frozenlist==1.4.0
h11==0.14.0
idna==3.4
kombu==5.3.5
lxml==5.1.0
magic-filter==1.0.12
multidict==6.0.4
mypy-extensions==1.0.0
openai==0.28.1
packaging==23.2
pillow==10.2.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.16.1
PyMuPDF==1.23.7
PyMuPDFb==1.23.7
PyPDF2==3.0.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.0
pytz==2023.3.post1
redis==5.0.2
requests==2.31.0
setuptools==68.2.2
six==1.16.0
sniffio==1.3.0
SpeechRecognition==3.10.1
sqlparse==0.4.4
starlette==0.27.0
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.0.7
uvicorn==0.27.1
vine==5.1.0
wcwidth==0.2.13
wheel==0.41.2
yarl==1.9.2
